<div class="page-header">
  <h3>Combination #<%= @combination.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Recipe</dt>
      <dd>
        <% if @combination.recipe.present? %>
          <a href="/recipes/<%= @combination.recipe_id %>">
            <%= @combination.recipe.name %>
          </a>
        <% end %>
      </dd>

      <dt>Ingredient</dt>
      <dd>
        <% if @combination.ingredient.present? %>
          <a href="/ingredients/<%= @combination.ingredient_id %>">
            <%= @combination.ingredient.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/combinations" class="btn btn-primary">
        Back
      </a>
      <a href="/combinations/<%= @combination.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_combination/<%= @combination.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
