<div class="page-header">
  <% if current_user != nil %>
  <h3>
    Welcome back, <%= current_user.email%>!
    <a href="/recipes/new" class="btn btn-lg btn-success">Add Recipe</a>
  </h3>
  <% else %>
  <h3>
    Welcome back!
    <a href="/recipes/new" class="btn btn-lg btn-success">Add Recipe</a>
  </h3>
  <% end %>

</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "recipes_filters" do |f| %>
      <p class="lead">Searching for recipes with these criteria:</p>

        <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

<div class="form-group">
  <%= f.label :category_id, "Category" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :category_id_gteq, :class => "form-control", :placeholder => "Category greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :category_id_lteq, :class => "form-control", :placeholder => "Category less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :image_cont, "Image contains" %>
    <%= f.text_field :image_cont, :class => "form-control", :placeholder => "Image contains" %>
  </div>

<div class="form-group">
    <%= f.label :difficulty_cont, "Difficulty contains" %>
    <%= f.text_field :difficulty_cont, :class => "form-control", :placeholder => "Difficulty contains" %>
  </div>

<div class="form-group">
    <%= f.label :intructions_cont, "Intructions contains" %>
    <%= f.text_field :intructions_cont, :class => "form-control", :placeholder => "Intructions contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :ingredients_name_cont, "Ingredient name contains" %>
      <%= f.text_field :ingredients_name_cont, :class => "form-control", :placeholder => "Ingredient name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/recipes" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#recipes_filters">
      Search for a recipe
    </a>
  </div>
</div>

<h2>
All recipes:
</h2>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Instructions</th>
        <th>Difficulty</th>
        <th>Ingredients</th>
        <th>Actions</th>
      </tr>

      <% @recipes.each do |recipe| %>
      <tr>
        <td><img src="<%= recipe.image %>"height="150px"class="img-rounded"></td>
        <td><%= recipe.name %></td>
        <td><%= truncate(recipe.intructions) %></td>
        <td><%= recipe.difficulty %></td>
        <td> <% recipe.ingredients.each do |ingredient| %>
                <ul>
                  <li><a href="/ingredients/<%= recipe.id %>"><%= ingredient.name %></a></li>
                </ul>
              <% end %>
        </td>
        <td>
          <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">Show</a>
          <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_recipe/<%= recipe.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @recipes, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
