<!-- Validation failure messages -->
<% if @recipe.errors.any? %>
  <% @recipe.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Recipe</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_recipe" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @recipe.name %>">
      </div>


      <!-- <div class="row">
          <div class="col-md-12">
            <ul class="list-group">
              <li class="list-group-item list-group-item-info">
                Add ingredients
              </li>

              <% @recipe.combinations.each do |combination| %>
                <li class="list-group-item">
                  <a href="/combinations/<%= combination.id %>">
                    <%= combination.recipe_id %>
                  </a>
                  <div class="btn-group btn-group-xs pull-right">
                    <a href="/combinations/<%= combination.id %>" class="btn btn-primary">
                      <i class="fa fa-search-plus"></i>
                    </a>
                    <a href="/combinations/<%= combination.id %>/edit" class="btn btn-warning">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a href="/delete_combination/<%= combination.id %>" class="btn btn-danger" rel="nofollow">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </div>
                </li>
              <% end %>

          <li class="list-group-item"> -->

          <!-- <form action="/create_combination" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
        <!--       <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <!-- Label and input for recipe_id -->
          <!--     <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">

              <!-- Label and input for ingredient_id -->
          <!--     <div class="form-group">
                <label for="ingredient_id" class="control-label">
                </label>
                  <%= select_tag(:ingredient_id, options_from_collection_for_select(Ingredient.all, :id, :name), :class => "form-control") %>
              </div>

              <button class="btn btn-default btn-block"><i class="fa fa-plus"></i>
                Add
              </button>
          <!-- </form> -->
              <!-- </li>
            </ul>
          </div>
        </div> -->


      <!-- Label and input for intructions -->
      <div class="form-group">
        <label for="intructions" class="control-label">
          Intructions
        </label>

        <textarea id="intructions" name="intructions" placeholder="Intructions" class="form-control" rows="3"><%= @recipe.intructions %></textarea>
      </div>

      <!-- Label and input for difficulty -->
      <div class="form-group">
        <label for="difficulty" class="control-label">
          Difficulty
        </label>

        <input type="text" id="difficulty" name="difficulty" placeholder="Difficulty" class="form-control" value="<%= @recipe.difficulty %>">
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="text" id="image" name="image" placeholder="Image" class="form-control" value="<%= @recipe.image %>">
      </div>

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <div class="dropdown open">
          <select name="category_id">
            <% Category.all.each do |category| %>
            <option value="<%=category.id%>">
              <%=category.name%>
            </option>
            <% end %>
          </select>
        </div>
      </div>

      <button class="btn btn-success">
        Create Recipe
      </button>
      or
      <a href="/recipes">Cancel</a>
    </form>
  </div>
</div>

<!-- Add ingredients -->
<div class="page-header">
  <h3>Add Combination</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_combination" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for recipe_id -->
      <div class="form-group">
        <label for="recipe_id" class="control-label">
          Recipe
        </label>
        <%= select_tag(:recipe_id, options_from_collection_for_select(Recipe.all, :id, :name, @combination.recipe_id), :class => "form-control") %>
      </div>

      <!-- Label and input for ingredient_id -->
      <div class="form-group">
        <label for="ingredient_id" class="control-label">
          Ingredient
        </label>
        <%= select_tag(:ingredient_id, options_from_collection_for_select(Ingredient.all, :id, :name, @combination.ingredient_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Combination
      </button>
      or
      <a href="/combinations">Cancel</a>
    </form>
  </div>
</div>
