<div class="page-header">
  <h3>Recipes with <%= @ingredient.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dd><img src="<%= @ingredient.image_ingredient %>"height="150px"class="img-circle"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ingredients" class="btn btn-primary">
        Back
      </a>
      <a href="/ingredients/<%= @ingredient.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_ingredient/<%= @ingredient.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>


<!-- A Ingredient has many recipes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recipes
      </li>

      <% @ingredient.recipes.each do |recipe| %>
        <li class="list-group-item">
          <a href="/recipes/<%= recipe.id %>">
            <%= recipe.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recipe/<%= recipe.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
